.shop_contain {
  height: 80px;
  width: 100%;
  margin-top: 10px;
  padding: 8px 16px;
  border: 1PX solid #ddd;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.shop_name {
  margin: 0 8px;
}