.login_contain {
  width: 100%;
  height: 100%;
}
.form_item {
	margin: 5px 0;
	font-size: 0.6rem;
}
.form_item_submit {
	margin: 5px 0;
	width: 100%;
	border-radius: 1.2rem;
	background-color: #ff8282;
	color: #fff;
	font-size: 0.8rem;
	letter-spacing: 0.106667rem;
}

.form_item_spaceBetween {
	margin: 0.266667rem;
	display: flex;
	justify-content: space-between;
	color: rgba(0, 0, 0, 0.4);
	span {
		font-size: 0.8rem;
		margin: 5px;
	}
}

.form_item_placeholderStyle {
	color: #c3c3c3;
}