.infoChangeButton {
  margin: 5px;
}

.iconButtonRow{
  display: flex;
  margin: 10px;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.iconButtonColumn{
  display: flex;
  flex-direction: column;
  margin: 10px;
  align-items: center;
  justify-content: center;
  flex: 1;
}